/*Default design for mobile*/

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

header {
	width: 100%;
	height: 70px;
	background-color: #0075ff;
}

.section {
	width: 100%;
	height: 450px;
	display: flex;
	justify-content: center;
}

.white-section {
	background-color: white;
}

.gray-section {
	background-color: #d5d0d045;
}

.content-container {
	height: 100%;
	width: 100%;
	margin: 10px;
	max-width: 500px;
}

footer {
	width: 100%;
	height: 50px;
	background-color: #0075ff;
}

/*Medium and Large devices*/

@media screen and (min-width: 450px) {
	header {
		height: 50px;
	}
}
