/* Default design for mobile */

html {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

/* ---- Header*/

header {
	width: 100%;
	height: 70px;
	background-color: #0075ff;
	display: flex;
	justify-content: center;
	align-items: center;
}

.nav-link {
	color: white;
	font-weight: bold;
	margin: 10px;
	padding: 10px;
	border-radius: 10%;
	font-size: 15px;
}

a {
	text-decoration: none;
	font-family: 'Roboto Condensed', sans-serif;
}

/* Hover animation */
.nav-link:hover {
	animation-name: nav-hover;
	animation-duration: 1s;
	animation-fill-mode: forwards;
}

@keyframes nav-hover {
	100% {
		background-color: #62b1fe;
	}
}

/* ---- Main Content Sections*/

.section {
	width: 100%;
	padding-top: 20px;
	display: flex;
	margin-bottom: 20px;
	justify-content: center;
}

.white-section {
	background-color: white;
}

.gray-section {
	background-color: #d5d0d045;
}

.content-container {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
}

.subcontainer {
	justify-content: center;
    display: flex;
    flex-wrap: wrap;
}

.grid-content-container {
	height: 100%;
	width: 100%;
	margin: 10px;
	max-width: 380px; 

	display: flex;
	flex-wrap: wrap;
}

/* Section 1 - Image and Title */

.main-image {
	width: 250px;
	height: 250px;
	border-radius: 100%;
	object-fit: cover;
	align-self: center;
    justify-self: center;
}

h1 {
	width: 100%;
	text-align: center;
	font-size: 36px;
	font-family: 'Kaushan Script', cursive;
	margin-bottom: 5px;
}

/* Section 2 - Card Items*/

.content-header {
	width: 100%;
	height: 60px;
	margin-bottom: 10px;
	border-radius: 5%;

	/*Text*/
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	font-weight: bold;
	font-size: 20px;
	text-align: center;
	font-family: 'Open Sans', sans-serif;

}

.content-text {
	background-color: white;
	width: 100%;
	height: 300px;
	margin-bottom: 10px;
	box-shadow: 0px 0px 12px 0px #0000006b;
	border-radius: 5%;
}

/* First item */
.content-header-first {
	background-color: #0075ff;
}

/* Second item */
.content-header-second {
	background-color: #2b2b16;
}

/* Third item*/
.content-header-third {
	background-color: #0075ff;
}

/* Footer */

footer {
	width: 100%;
	height: 50px;
	background-color: #0075ff;
}

/* ------- Media Queries for Very Small, Medium and Large devices*/

@media screen and (min-width: 450px) {
	header {
		height: 50px;
	}
}

@media screen and (min-width: 650px) {

	/* Use a CSS grid for larger devices*/

	.grid-content-container {
	height: 100%;
	width: 100%;
	margin: 10px;
	max-width: 700px;

	display: grid;
	grid-template-rows: 80px 320px;
	grid-template-columns: 32% 33% 32%;
	grid-gap: 10px;

	grid-template-areas: 
		"header1  header2  header3"
		"content1 content2 content3"
	}

	/* Section 2 - Card Items */

	.content-header {
		height: 70px;
	}

	/*First item*/
	.content-header-first {
		grid-area: header1;
	}

	.content-text-first {
		grid-area: content1;
	}

	/*Second item*/
	.content-header-second {
		grid-area: header2;
	}

	.content-text-second {
		grid-area: content2;
	}

	/*Third item*/
	.content-header-third {
		grid-area: header3;
	}

	.content-text-third {
		grid-area: content3;
	}

	/*Grid container*/
	.grid-content-container {
		max-width: 700px;
	}

}